<div class="container" style="padding:0px">
    <div class="a" align="center">
        <span style="font-weight: 700;">Designed to Inspire</span>
    </div>
    <div id="b" style=" height: 66vh; overflow-y: auto;">
        <div #codeEditor></div>
    </div>
    <div class="c">
        <button class="btn btnMe" style="position: relative;background-color: #3473b8" (click)="getResultOfCodeRun()"><i *ngIf="!runClicked"style="margin-right:5px"class="fa fa-play" aria-hidden="true"></i>
            <img *ngIf="runClicked" src="../../assets/RingPreloader.gif" style="position: absolute;
            width: 21px;
            left: 25%;
            top: 50%;
            transform: translate(-50%,-50%);">

            Run</button>
        <!-- <button class="btn btnMe" (click)="beautifyContent()">Beautify</button> -->
        <span>
                <button class="btn btnMe" style="background-color:#38aa4a">
                    <select class="languages-select" style="background-color:#38aa4a" (change)="onLanguageChange($event.target.value)">
                        <option value="1">Python</option>
                        <option value="2">Java</option>
                    </select>
    
                </button>
            </span>
        <button class="btn btnMe"style="background-color: #febf32" (click)="clearContent()"><i style="margin-right:5px"class="fa fa-eraser" aria-hidden="true"></i>Clear</button>
        <span>
            <button class="btn btnMe" style="background-color: #e3372f">
                <select class="languages-select" style="background-color: #e3372f" (change)="onItemChange($event.target.value)">
                    <option value="1" selected>Theme</option>
                    <option value="1">Light</option>
                    <option value="2">Dark</option>
                    <option value="3">Dracula</option>
                    <option value="4">Solarized</option>
                    <option value="5">Monokai</option>
                </select>
            </button>
        </span>
     


    </div>
    <div class="d">

        <div class="label-box border">
            <!-- <span style=" margin-left: 20px;
            color: black;
            font-weight: 200;">Output-</span> -->
            <span *ngIf="resultOfCompilation" style="margin-right:20px ;color:black">Memory: {{resultOfCompilation.memory}}</span>
            <span *ngIf="resultOfCompilation" style="color:black">CPU Time: {{resultOfCompilation.cpuTime}}</span>
            <span style=" margin-right: 20px;
            color: black;
            float: right;
            font-weight: 200;">Runs {{runCountJDoodle}}</span>
        </div>
        <textarea  *ngIf="resultOfCompilation" class="form-control output" rows="10" disabled="true"
            aria-label="output-textarea" [ngStyle]="{
                'background-color': errorOccured ? 'black' : '#140d86',
                'color': errorOccured  ? 'white' : 'white'}" style="border: none;">{{resultOfCompilation.output}}
        </textarea>

    </div>
</div>
