
<div>
    <!-- header -->
    <nav class="navbar navbar-light bg-light ">
        <div class="container text-center p-2 ">
            <span class="mx-auto text-bold" style="font-weight: 700;">Designed to Inspire</span>
        </div>
    </nav>
</div>

<div class="container h-100 mt-4">
    
    <!-- languages & theme -->
    <div class="row mb-4 justify-content-center mx-4">
        <!-- languages select -->
        <div class="col-auto col-lg-3 col-md-4 col-sm-6">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="languages-select">Languages</label>
                </div>
                <select class="languages-select" id="languages-select" #languagesSelect (change)="onLanguageChange($event.target.value)">
                    <option value="1">Python</option>
                    <option value="2">Java</option>
                </select>
            </div>
        </div>
        <!-- theme radio buttons -->
        <div class="col-auto col-lg-3 col-md-4 col-sm-6">
                <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="languages-select">Theme</label>
                        </div>
                        <select class="languages-select" id="languages-select" #languagesSelect (change)="onItemChange($event.target.value)">
                            <option value="1">Light</option>
                            <option value="2">Dark</option>
                            <option value="3">Dracula</option>
                            <option value="4">Solarized</option>
                        </select>
                    </div>
        </div>
    </div>
    
    <!-- the code editor -->
    <!-- <div class="row mb-4">
        <div class="col">
            <div class="code-editor" #codeEditor></div>
        </div>
    </div> -->
    <div id="parent">
            <div id="editor" #codeEditor></div>
        </div>

    <!-- run, clear & beautify buttons -->
    
    <div class="row mb-4 justify-content-center mx-4">
            <img *ngIf="runClicked" src="../../assets/RingPreloader.gif" style="width:45px;position:relative">   
        <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
            
            <button type="button" class="btn btn-dark btn-sm btn-block px-4 mx-2" (click)="getResultOfCodeRun()">
                Run
            </button>
        </div>
        <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
            <button type="button" class="btn btn-primary btn-sm btn-block px-4 mx-2" (click)="clearContent()">
                Clear
            </button>
        </div>
        <!-- <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
            <button type="button" class="btn btn-beautify btn-sm btn-block px-4 mx-2" (click)="setContent()">
                Beautify
            </button>
        </div> -->
    </div>

    <!-- output box -->
    <div class="row mt-4">
        <div class="col">
            <div class="label-box border">
                <span class="mx-4 font-weight-light">Output</span>
                <span *ngIf="resultOfCompilation" style="margin-right:20px">Memory: {{resultOfCompilation.memory}}</span>
                <span *ngIf="resultOfCompilation" >CPU Time: {{resultOfCompilation.cpuTime}}</span>
            </div>
            <textarea *ngIf="resultOfCompilation"class="form-control output" rows="6" disabled="true" aria-label="output-textarea">{{resultOfCompilation.output}}
            </textarea>
        </div>
    </div>
</div>