
select.languages-select {
    cursor: pointer;
    font-weight: bold;
    border: none;
    color:white;
}

// new -----------------------------------------------------------------------------------------------
// #parent {
//     width:100%;
//     height: 80vh;
//     display:inline-block;
//     position:relative;
//     overflow-y: auto
// }
// #editor {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
// }


.container{
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows:30px 66% auto 20%;
    grid-template-areas:"a"
                        "b"
                        "c"
                        "d";
   
    height: 100vh;
}
.a{
    grid-area: a;
    background-color: #eee;
 
}
.b{
    grid-area: b;

}
.c{
    grid-area: c;
    margin-right:10px;
    margin-left: auto;
}
.d{
    grid-area: d;
}

.btnMe{
    font-weight:bold;
    width:120px;
    color:white;
    margin-left:8px;
    margin-top:8px;
}