<div class="container" style="padding:0px">
    <div class="a" align="center">
        <span style="font-weight: 700;">Designed to Inspire</span>
    </div>
    <div id="b" style=" height: 66vh; overflow-y: auto;">
        <div #codeEditor></div>
    </div>
    <div class="c">
        <img *ngIf="runClicked" src="../../assets/RingPreloader.gif" style="margin-top:10px;width:37px;margin-right:10px;margin-left:10px;position:relative">
        <button class="btn btnMe" style="background-color: #3473b8" (click)="getResultOfCodeRun()"><i style="margin-right:5px"class="fa fa-play" aria-hidden="true"></i>Run</button>
        <!-- <button class="btn btnMe" (click)="beautifyContent()">Beautify</button> -->
        <span>
                <button class="btn btnMe" style="background-color:#38aa4a">
                    <select class="languages-select" style="background-color:#38aa4a"  (change)="onLanguageChange($event.target.value)">
                        <option value="1">Python</option>
                        <option value="2">Java</option>
                    </select>
    
                </button>
            </span>
        <button class="btn btnMe"style="background-color: #febf32" (click)="clearContent()"><i style="margin-right:5px"class="fa fa-eraser" aria-hidden="true"></i>Clear</button>
        <span>
            <button class="btn btnMe" style="background-color: #e3372f">
                <select class="languages-select" style="background-color: #e3372f" (change)="onItemChange($event.target.value)">
                    <option value="1" selected>Theme</option>
                    <option value="1">Light</option>
                    <option value="2">Dark</option>
                    <option value="3">Dracula</option>
                    <option value="4">Solarized</option>
                    <option value="5">Monokai</option>
                </select>
            </button>
        </span>
     


    </div>
    <div class="d">

        <div class="label-box border">
            <span class="mx-4 font-weight-dark">Output</span>
            <span *ngIf="resultOfCompilation" style="margin-right:20px ;color:black">Memory: {{resultOfCompilation.memory}}</span>
            <span *ngIf="resultOfCompilation" style="color:black">CPU Time: {{resultOfCompilation.cpuTime}}</span>
        </div>
        <textarea  *ngIf="resultOfCompilation" class="form-control output" rows="10" disabled="true"
            aria-label="output-textarea" [ngStyle]="{
                'background-color': errorOccured ? 'black' : 'white',
                'color': errorOccured  ? 'white' : 'black'}">{{resultOfCompilation.output}}
        </textarea>

    </div>
</div>