/* width */
::-webkit-scrollbar {
    width: 12px;
  }
 
  
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c1c1c1; 
    border-radius:10px;
    border:1px solid white;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b5b9bd; 
  }
 